<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="30 seconds">

    <property name="GENERIC_PATTERN"
              value="[%date{ISO8601}] [%p] [%t] [%X{X-B3-TraceId:-}] [%X{functional-context}] [%c{2}] %4L | %m%n"/>
    <property name="CONSOLE_LOG_PATTERN" value="$GENERIC_PATTERN"/>
    <property name="CHARSET" value="UTF-8"/>

    <logger name="org.techpleid.springframework.insights" level="TRACE"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springframework.cloud.config.server" level="DEBUG"/>

    <!-- Auto configuration report-->
    <!--    <logger name="org.springframework.boot.autoconfigure" level="DEBUG"/>-->
    <!--    <logger name="org.springframework.boot.autoconfigure.logging.ConditionEvaluationReportLoggingListener"-->
    <!--            level="TRACE"/>-->
    <!--    <logger name="org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory" level="TRACE"/>-->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>${CHARSET}</charset>
            <pattern>${GENERIC_PATTERN}</pattern>
        </encoder>
    </appender>

<!--    <appender name="SPRING_ROVER_CONSOLE"-->
<!--              class="org.techpleid.springframework.insights.logback.test.TestEncodedMessageCaptureConsoleAppender">-->
<!--        <encoder>-->
<!--            <charset>${CHARSET}</charset>-->
<!--            <pattern>${GENERIC_PATTERN}</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <logger name="spring.rover.logger" level="INFO" additivity="false">-->
<!--        <appender-ref ref="SPRING_ROVER_CONSOLE"/>-->
<!--    </logger>-->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>